@font-face {
  font-family: "Candal";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/candal-regular.ttf) format("truetype");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/pt-sans-regular.ttf) format("truetype");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/pt-sans-bold.ttf) format("truetype");
}
